.headingIntro {
    text-align: center;
    font-size: 30px;
    font-family: 'Rampart One', cursive;

}
.firstyear {
    text-align: center;
}

.infostart {
    text-align: center;
}

.infofooter {
    text-align: center;
}
.imagesLink {
    align-content: space-between;
    padding-bottom: 25px;
    margin: 25px;
    text-align: center;
}


.webimg {
}