* {
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
}

    .headingIntro {
        text-align: center;
        font-size: 45px;
        font-family: 'Rampart One', cursive;
    }

    .info1 {
        text-align: center;
        font-family: 'Source Sans Pro', sans-serif;
    }

    .firstyear {
        text-align: center;
        font-family: 'Rampart One', cursive;
    }

    .infostart {
        text-align: center;
    }
    .infofooter {
        text-align: center;
    }

    #imagesLink {
        min-height: 100%;
        align-content: space-between;
        padding-bottom: 25px;
        margin: 25px;
        text-align: center;
    }
    #main {
        overflow: auto;
        padding-bottom: 100px;
    }
    #footter {
        position: relative;
        height: 100px;
        margin-top: -100px;
        clear: both;
    }

    .linksnav {
        text-align: center;
        padding: 15px;
    }


@media all and (max-width: 500px) {
    body {
        background-image: linear-gradient(to right, #ebf4f5, #b5c6e0);
    }
    .headingIntro {
        text-align: center;
        font-size: 45px;
        font-family: 'Rampart One', cursive;
    }

    #imagesLink {
        min-height: 100%;
        align-content: space-between;
        padding-bottom: 25px;
        margin: 25px;
        text-align: center;
    }
}