.headerinfo {
    text-align: center;
}
.startinfo {
    text-align: center;
    font-family:'Rampart One', cursive;
    text-align: center;
    font-size: 35px;
}

.modules {
    padding: 35px;
    margin: 5px;
}

.card-columns {
    display: inline-block;
}

#footter {
    position: relative;
}

.infofooter {
    text-align: center;
}

.linknav {
    color: black;
}